@charset "UTF-8";

body{
    background-color: rgb(179, 179, 218);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(26, 26, 216);
}
h2{
    color: rgb(92, 92, 241);
}

h1#principal{
    text-align: center;
    background-color: blue;
    color: bisque;
}

.pao{
    color: white;
}